.container {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 20px;
}

.select {
  margin: 10px;
}

.searchInputs {
  align-items: center;
  display: flex;
  justify-content: flex-end;
}

.searchInputs {
  align-items: center;
  display: flex;
}

.noResults {
  margin: auto;
  width: 100%;
}
