.table {
  max-height: 70vh;
}

.loading {
  display: flex;
  justify-content: center;
}

.row:hover {
  background-color: rgba(0, 0, 0, 0.08);
  cursor: pointer;
}

.spinner {
  margin-left: 50%;
  margin-top: 50px;
  /* opted to hide table body and just just absolute positioning below header */
  position: absolute;
  text-align: center;
}

.cardWrapper {
  margin: 20px;
}
